
<c-card class="my-4">
  <c-card-body>
    <c-row>
      <c-col sm="6">
        <h4 class="card-title mb-0" id="traffic">Thống kê</h4>
        <div class="small text-body-secondary">{{stringDate}}</div>
      </c-col>
    </c-row>

  </c-card-body>
  <c-card-footer>
    <c-row class="mb-4">
      <c-col class="d-md-block">
        <form [formGroup]="trafficRadioGroup">
          
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
              id="dayRadio"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              for="dayRadio"
            >
              Hôm nay
            </label>
            <input
              class="btn-check"
              formControlName="trafficRadio"  
              type="radio"
              value="Yesterday"
              id="radioMonth"
            />
            <label
              (click)="setTrafficPeriod('Yesterday')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              for="radioMonth"
            >
              Hôm qua
            </label>
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="CustomDay"
              id="radioYear"
            />
            <label
              (click)="setTrafficPeriod('CustomDay')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              for="radioYear"
            >
              Chọn ngày
            </label>
          </c-button-group>
        </form>        
      </c-col>
    </c-row>
    <c-row class="mb-4" *ngIf="isDateRange">
      <c-col class="d-md-block">
        <p-calendar class="float-end me-4 pdaterange"
      [(ngModel)]="rangeDates"
      selectionMode="range" 
      [showIcon]="true"
      dateFormat="dd/mm/yy"
      [readonlyInput]="true"
      (ngModelChange)="changeDateRange($event)"
      [showButtonBar]="true"/>
        
      </c-col>
    </c-row>
    
    <c-row class="text-center mb-2" [xl]="3" [lg]="3" [sm]="2" [xs]="1" [gutter]="3">
      <c-col>
        <div class="text-body-secondary">Tổng lượt view</div>
        <strong>{{tongview}}</strong>
        <!-- <c-progress class="mt-2" thin color="success" value="40" aria-label="User visits" /> -->
      </c-col>
      <c-col>
        <div class="text-body-secondary">Tổng lượt click</div>
        <strong>{{tongclick}}</strong>
        <!-- <c-progress class="mt-2" thin color="success" value="40" aria-label="User visits" /> -->
      </c-col>
      <c-col>
        <div class="text-body-secondary">Tổng hoa hồng</div>
        <div class="fw-semibold text-truncate">{{hoahong}} đ</div>
        <!-- <c-progress class="mt-2" thin color="info" value="20" aria-label="Unique users" /> -->
      </c-col>
      <c-col>
        <div class="text-body-secondary">Tổng thu nhập</div>
        <div class="fw-semibold text-truncate">{{tongthunhap}} đ</div>
        <!-- <c-progress class="mt-2" thin color="warning" value="60" aria-label="Page views" /> -->
      </c-col>
      <c-col>
        <div class="text-body-secondary">Số dư</div>
        <div class="fw-semibold text-truncate">{{balance}} đ</div>
        <!-- <c-progress class="mt-2" thin color="danger" value="80" aria-label="New users" /> -->
      </c-col>
      <c-col class="d-xl-block">
        <div class="text-body-secondary">Số view còn lại trong ngày</div>
        <div class="fw-semibold text-truncate">{{thongkeviewconlai}}</div>
        <!-- <c-progress class="mt-2" thin value="40" aria-label="Bounce rate" /> -->
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header><strong>THÔNG BÁO</strong></c-card-header>
      <c-card-body>
        <c-row>
          <c-col xs>
            <c-card class="mb-4">
              <c-card-header><strong>Quy định rút tiền</strong></c-card-header>
              <c-card-body>
                <ul class="pl-3">
                  <li>Rút tối thiểu 50.000 VNĐ</li>
                  <li>Duyệt tiền hằng ngày từ thứ 2 - thứ 6 hằng tuần, trong giờ hành chính 8h sáng - 17h30. Các lệnh thứ 7, chủ nhật sẽ được dồn sang thứ 2</li>
                  <li>Yêu cầu xác minh tài khoản trước mới được rút tiền, thời gian xác minh tài khoản không quá 8 tiếng từ khi gửi lên</li>
                </ul>
              </c-card-body>
            </c-card>
          </c-col>
        </c-row>
        <c-row>
          <c-col xs>
            <c-card class="mb-4">
              <c-card-header><strong>Chính sách khóa tài khoản</strong></c-card-header>
              <c-card-body>
                <ul class="pl-3">
                  <li>Sử dụng các phần mềm proxy, fake IP, fake user agent để gian lận sẽ bị khóa tài khoản</li>
                  <li>Tạo nhiều tài khoản REF để tăng hoa hồng sẽ bị khóa tài khoản</li>
                  <li>Không sử dụng tab ẩn danh để lấy mã</li>
                  <li>IP hợp lệ là IP việt nam, không chấp nhận IP nước ngoài</li>
                  <li>Mỗi ngày 1 IP/ thiết bị chỉ được tính 1 lần</li>
                </ul>
              </c-card-body>
            </c-card>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header><strong>TOP 10 LINKS</strong></c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary">Link rút gọn</th>
            <th class="bg-body-tertiary">Số click</th>
            <th class="bg-body-tertiary">Thu nhập</th>
          </tr>
          </thead>
          <tbody>
            @for (item of items; track item.token; let i = $index) {
              <tr>
                <td>
                  <div>{{ item.link }}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <div class="float-end ms-1 text-nowrap">
                      <small class="text-body-secondary">
                        {{ item.viewCount }}
                      </small>
                    </div>
                  </div>
                  
                </td>
                <td class="text-center">
                  <div class="d-flex justify-content-between">
                    <div class="float-end ms-1 text-nowrap">
                      <small class="text-body-secondary">
                        {{ item.viewCount * 1000 }}
                      </small>
                    </div>
                  </div>
                </td>
                
              </tr>
            }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
  
</c-row>
<!-- <div class="card flex justify-content-center">
  <p-calendar 
      [(ngModel)]="rangeDates"
      selectionMode="range" 
      [showIcon]="true"
      [readonlyInput]="true" (ngModelChange)="changeDateRange($event)"
      [showButtonBar]="true"/>
</div> -->

