
<c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <h2><strong>Quản lý Người dùng</strong></h2>
        </c-card-header>
        <c-card-body class="p-4">
          <c-row [xl]="2" [lg]="2" [sm]="2" [xs]="1">
            <c-col>
              <c-input-group class="mb-3">
                <input aria-describedby="button-addon2"
                       aria-label="userName"
                       cFormControl
                       id="txtKeyword" pInputText (keyup.enter)="loadData()" [(ngModel)]="userNameSearch"
                       placeholder="userName"
                />
              </c-input-group>
            </c-col>
            <c-col>
              <select cSelect id="floatingSelectGrid" [(ngModel)]="verifySearch" (change)="loadData()">
                <option *ngFor="let a of listVerify" [ngValue]="a.value">{{a.name}}</option>
              </select>
            </c-col>
          </c-row>
            <c-row>
                <c-col xs>
                  <c-card class="mb-4">
                    <c-card-header>
                        Danh sách người dùng
                    </c-card-header>
                    <c-card-body>
                        <table
                  [hover]="true"
                  [responsive]="true"
                  [striped]="true"
                  align="middle"
                  cTable
                  class="mb-0 border"
                >
                  <thead class="text-nowrap text-truncate">
                  <tr>
                    <th class="bg-body-tertiary">STT</th>
                    <th class="bg-body-tertiary text-center">Username</th>
                    <th class="bg-body-tertiary text-center">Email</th>
                    <th class="bg-body-tertiary text-center">Số dư</th>
                    <th class="bg-body-tertiary text-center">Max Click</th>
                    <th class="bg-body-tertiary text-center">Rate</th>
                    <th class="bg-body-tertiary text-center">Telegram</th>
                    <th class="bg-body-tertiary text-center">Nguồn</th>
                    <th class="bg-body-tertiary text-center">Image</th>
                    <th class="bg-body-tertiary text-center">Trạng Thái</th>
                    <th class="bg-body-tertiary">Xác Minh</th>
                    <th class="bg-body-tertiary">Chức năng</th>
                  </tr>
                  </thead>
                  <tbody>
                    @for (item of items; track item.id; let i = $index) {
                      <tr>
                        <td  class="text-center">
                            {{i + 1}}
                        </td>
                        <td class="text-center">
                            <div>{{item.userName}}</div>
                            <div class="small text-body-secondary text-nowrap">
                            <span>
                              Tạo lúc: {{ item.dateCreated | date: 'dd/MM/yyyy HH:mm:ss'}}
                            </span>
                            </div>
                        </td>
                        <td  class="text-center">
                            {{item.email}}
                        </td>
                        <td class="text-center">
                          {{item.balance}}
                        </td>
                        <td class="text-center">
                          {{item.maxClickInDay}}
                        </td>
                        <td class="text-center">
                          {{item.rate}}
                        </td>
                        <td class="text-center">
                            {{item.userTelegram}}
                          </td>
                          <td class="text-center">
                            {{item.origin}}
                          </td>
                          <td class="text-center">
                            <a *ngIf="item.originImage">api.layma.net{{item.originImage}}</a>
                            
                          </td>
                        <td class="text-center">
                            <button *ngIf="item.isActive" cButton color="success">Hoạt Động</button>
                            <button *ngIf="!item.isActive" cButton color="danger">Khóa</button>
                        </td>
                        <td class="text-center">
                            <button *ngIf="item.isVerify" cButton color="success">Đã Xác Minh</button>
                            <button *ngIf="!item.isVerify" cButton color="danger">Chưa Xác Minh</button>
                        </td>
                        <td>
                            <c-dropdown>
                                <button cButton cDropdownToggle color="secondary">
                                  Hành động
                                </button>
                                <ul cDropdownMenu>
                                  <li><a cDropdownItem (click)="xacminh(item.isVerify,item.id,item.origin,item.originImage)">Xác minh</a></li>
                                  <li *ngIf="item.isActive"><a cDropdownItem (click)="mokhoataikhoan(item.id)">Khóa TK</a></li>
                                  <li *ngIf="!item.isActive"><a cDropdownItem (click)="mokhoataikhoan(item.id)">Mở khóa TK</a></li>
                                  <li><a cDropdownItem (click)="congtrutientaikhoan(item.id)">Cộng trừ tiền</a></li>
                                  <li><a cDropdownItem (click)="edittaikhoan(item.id,item.maxClickInDay,item.rate)">Sửa</a></li>
                                </ul>
                              </c-dropdown>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
                    </c-card-body>
                  </c-card>
                </c-col>
              </c-row>    
        </c-card-body>
        <p-paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="pageChanged($event)"
      [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>
      </c-card>
    </c-col> 
  </c-row>
  