<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
              <h2>QUÊN MẬT KHẨU</h2>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input autoComplete="email" cFormControl formControlName="email" placeholder="Email" [email]="true" />
              </c-input-group>
              <div class="d-grid">
                <button cButton color="warning" type="submit">Lấy mật khẩu</button>
                <div class="mt-3 text-center">
                  <!-- <a class="forget-pass" href="/auth/forgot-password.php">Quên mật khẩu?</a> -->
                  <p class="subtitle">Bạn chưa có tài khoản? <a href="/#/auth/register" style="text-decoration: none;">Đăng ký</a></p>
              </div>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
