
<c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
            {{link}}
        </c-card-header>
        <c-card-body>
          <form cForm [formGroup]="shortlinkNoteForm" (ngSubmit)="updateOrigin()">
            <c-input-group class="flex-nowrap">
              <input aria-describedby="addon-wrapping"
                     aria-label="LinkNote"
                     cFormControl
                     formControlName="origin"
                     placeholder="Nhập nguồn link rút gọn vào đây"
              />
            </c-input-group>
            <button cButton color="primary" type="submit" style="margin-top: 20px;">Cập nhật</button>
          </form>                   
        </c-card-body>
      </c-card>
    </c-col> 
  </c-row>
  