@{
    ViewData["Title"] = "Mức trả thưởng";
}
<section class="page-section bg-light">
    <div class="bg-img">
        <div class="container">
            <div class="heading -lv2 fadeInUp visible">
                <h2>MỨC TRẢ THƯỞNG</h2>
            </div>
            <div class="box-color fadeInUp visible">
                <div class="box-table fadeInUp visible">
                    <p class="box-table-label"><span>BANNER</span></p>
                    <div class="box-table-wrap">
                        <table class="tbl-base">
                            <colgroup>
                                <col class="w26per">
                                <col class="w37per">
                                <col class="w37per">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th rowspan="2">Mô tả gói / Quốc gia</th>
                                    <th colspan="2">Thu nhập trên 1000 lượt xem</th>
                                </tr>
                                <tr>
                                    <th>Máy tính để bàn</th>
                                    <th>Điện thoại di động / Máy tính bảng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Việt Nam</td>
                                    <td>600.000 VNĐ</td>
                                    <td>600.000 VNĐ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-note fadeInUp visible">
                    <p class="box-note-title">Mức thưởng hiện tại:</p>
                    <div class="box-note-text">
                        <p><strong>+ 600.000 VNĐ/1000 view, 2IP/ngày (có thể thay đổi, vui lòng đăng nhập để xem chính xác).<br>+ Min rút tối thiểu 200.000 VNĐ về ví MoMo hoặc Ngân hàng.<br>+ Hoa hồng +100đ/view.</strong></p>
                        <p>Hệ thống duyệt rút hằng ngày. Hệ thống tự động tối ưu tăng thêm 50% doanh thu của bạn bằng phương pháp <a href="/pages/link-du-phong.html">Link dự phòng</a> (link rút gọn của bên thứ 3). Xem chi tiết tại đây <a href="/pages/link-du-phong.html">(Link)</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
