<c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>LỊCH SỬ RÚT TIỀN</strong>
        </c-card-header>
        <c-card-body>
          <c-row [xl]="4" [lg]="4" [sm]="2" [xs]="1">
            <c-col>
              <c-input-group class="mb-3">
                <input aria-describedby="button-addon2"
                       aria-label="userName"
                       cFormControl
                       id="txtKeyword" pInputText (keyup.enter)="loadData()" [(ngModel)]="userNameSearch"
                       placeholder="userName"
                />
              </c-input-group>
            </c-col>
            <c-col>
              <select cSelect id="floatingSelectGrid" [(ngModel)]="adminSearch" (change)="loadData()">
                <option *ngFor="let a of listAdmin" [ngValue]="a">{{a}}</option>
              </select>
            </c-col>
            <c-col>
              <select cSelect id="floatingSelectGrid" [(ngModel)]="statusSearch" (change)="loadData()">
                <option *ngFor="let a of listStatus" [ngValue]="a.id">{{a.name}}</option>
              </select>
            </c-col>
            <c-col>
              <p-calendar class="float-start me-4 pdaterange"
                [(ngModel)]="rangeDates"
                selectionMode="range" 
                [showIcon]="true"
                dateFormat="dd/mm/yy"
                [readonlyInput]="true"
                (ngModelChange)="changeDateRange($event)"
                [showButtonBar]="true"/>
            </c-col>
          </c-row>       
          <c-row>
            <c-col xs>
              <c-card class="mb-4">
                <c-card-body>
                  <table
                    [hover]="true"
                    [responsive]="true"
                    [striped]="true"
                    align="middle"
                    cTable
                    class="mb-0 border"
                  >
                    <thead class="text-nowrap text-truncate">
                    <tr>
                      <th class="bg-body-tertiary text-center ">
                        ID
                      </th>
                      <th class="bg-body-tertiary">Username</th>
                      <th class="bg-body-tertiary">Tên TK</th>
                      <th class="bg-body-tertiary text-center">Số TK</th>
                      <th class="bg-body-tertiary">Ngân Hàng</th>
                      <th class="bg-body-tertiary">Số Tiền</th>
                      <th class="bg-body-tertiary text-center">Tạo Lúc</th>
                      <th class="bg-body-tertiary text-center">Duyệt bởi</th>
                      <th class="bg-body-tertiary">Trạng Thái</th>
                    </tr>
                    </thead>
                    <tbody>
                      @for (item of items; track item.bankAccountName; let i = $index) {
                        <tr>
                          <td class="text-center">
                            <div>{{ item.id }}</div>
                          </td>
                          <td>
                            <div>{{ item.userName }}</div>
                          </td>
                          <td>
                            <div>{{ item.bankAccountName }}</div>
                          </td>
                          <td class="text-center">
                            <div>{{ item.bankAccountNumber  }}</div>
                          </td>
                          <td>
                            <div>{{ item.bankName }}</div>
                          </td>
                          <td>
                            <div style="color: red;">{{ item.money }}</div>
                          </td>
                          <td class="text-center">
                            {{ item.dateCreated | date: 'dd/MM/yyyy HH:mm:ss'}}
                          </td>
                          <td class="text-center">
                            {{ item.modifiedBy}}
                          </td>
                          <td>
                            <c-dropdown>
                                <button *ngIf="item.statusProcess === processStatus._0" cDropdownToggle cButton color="secondary">Chờ xử lý</button>
                                <button *ngIf="item.statusProcess === processStatus._1" cDropdownToggle cButton color="primary">Đang xử lý</button>
                                <button *ngIf="item.statusProcess === processStatus._2" cButton color="danger">Từ chối</button>
                                <button *ngIf="item.statusProcess === processStatus._3" cButton color="success">Thành công</button>
                                <ul cDropdownMenu>
                                  <li><a cDropdownItem (click)="changestatus(1,item.id,item.userId,item.money)">Đang xử lý</a></li>
                                  <li><a cDropdownItem (click)="changestatus(2,item.id,item.userId,item.money)">Từ chối</a></li>
                                  <li><a cDropdownItem (click)="changestatus(3,item.id,item.userId,item.money)">Đã xử lý</a></li>
                                </ul>
                              </c-dropdown>
                            
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </c-card-body>
              </c-card>
              <p-paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="pageChanged($event)"
      [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>
            </c-col>
          </c-row>               
        </c-card-body>
      </c-card>
    </c-col> 
  </c-row>